<p id="notice"><%= notice %></p>

<h1>Job Orders</h1>



<%= form_tag(job_orders_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>
<% if @job_orders.present? %>
  <%= render 'joborders' %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>



<br>

<%= link_to 'New Job Order', new_job_order_path %>
